* {
  --height: 200px;
  --pad: 11px;
  --border-radius: 2px;
  --trim: calc(2 * (var(--pad) + var(--border-radius)));
  --gap: 5px;
  --img-size: calc((var(--height) - var(--trim)) *.8);
  --slow: .6s;
  --fast: .3s;
  /* border: 1px solid blue; */
  box-sizing: border-box;
  transition: transform var(--slow);
}
section:hover * {
  transition: transform var(--fast);
}

section {
  max-width: 45vw;
  height: var(--height);
  max-height: var(--height);
  padding: var(--pad);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
  background: #fff;
  border: var(--border-radius) solid #eee;
  transition: all .5s cubic-bezier(.16, 1.06, .52, 1.01), background-color var(--slow);
}

section:hover,
section.active {
  background: hsl(2, 100%, 60%);
  color: #fffc;
  border-color: #fff;
  border-radius: 30px 50px 40px 20px;
  transform: translateX(15px);
  transition: all var(--slow) cubic-bezier(.16, 1.06, .52, 1.01), background-color var(--fast);
}

section.active {
  background: cyan;
  color: black;
}

.text {
  align-self: flex-end;
  cursor: text;
  width: calc(50vw - var(--trim) - var(--img-size) - var(--gap));
  max-width: calc(50vw - var(--trim) - var(--img-size) - var(--gap));
  height: calc(var(--height) - var(--trim));
  overflow: hidden;
}

h1 {
  position: relative;
  font-size: 2rem;
  color: #0000;
  margin: 0;
  text-transform: lowercase;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: .5rem;
  transform-origin: top left;
  cursor: text;
  max-height: calc(2.3rem * 2);
  line-height: 2.3rem;
}

section:hover h1::before,
section.active h1::before {
  transform: scale(5.5);
  transition: transform var(--fast);
}

h1::before {
  content: attr(data-what);
  cursor: text;
  max-height: calc(2.3rem * 2);
  line-height: 2.3rem;
  transform-origin: top left;
  position: absolute;
  left: 0;
  top: 0;
  color: rgb(255, 255, 255, .1);
  transform: translate(1px, 1px);
  overflow: hidden;
}

h1::after {
  content: attr(data-what);
  cursor: text;
  max-height: calc(2.3rem * 2);
  line-height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0;
  color: black;
  overflow: hidden;
}

section:hover > .img,
section.active > .img {
  border-color: white;
  transform: scale(2) translate(25%);
}
section:hover img,
section.active img {
  transform: scale(1.25);
}

.img,
img {
  height: var(--img-size);
  width: var(--img-size);
  min-width: var(--img-size);
  min-height: var(--img-size);
}

img {
  object-fit: cover;
  margin: -4px 0 0 -4px;
}

.img {
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
  border: 4px double black;
}
