form {
  margin: 0 20px 0 20px;
  display: grid;
  grid: 1fr / repeat(3, 1fr) auto;
  gap: 10px;
  background-color: #fff;
  border-radius: 5px;
  align-items: center;
  align-content: stretch;
  justify-content: start;
}
* {
  font-size: 1.5rem;
  text-transform: lowercase;
}

.buttons {
  width: fit-content;
  display: grid;
  grid: 1fr / repeat(3, auto);
  gap: 10px;
}

button {
  width: fit-content;
}

ion-icon {
  width: 1.8ex;
  font-size: 1.8rem;
  vertical-align: text-bottom;
}
