* {
  box-sizing: border-box;
  font-family: Ubuntu, system-ui, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size: 1.15rem;
  --pad: 5px;
  --button-pad: 10px;
  --trim: calc(2 * (var(--pad) + var(--button-pad)));
  --height: calc(1.2 * var(--font-size) + var(--trim));
  --overhang: 3px;
  --placeholder-height: calc(var(--height) + var(--overhang));
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: var(--height);
  font-size: var(--font-size);
  line-height: calc(var(--font-size)*1.2);
  display: grid;
  gap: 20px;
  grid: 1fr / 15vw repeat(auto-fill, 10ch);
  place-content: stretch;
  place-items: stretch;
  padding: var(--pad);
  z-index: 100;
  opacity: .83;
  box-shadow: 0 0 50px black;
  background: black;
  color: white;
  text-transform: lowercase;
  user-select: none;
}

nav > * {
  --button-height: calc(var(--height) - var(--pad)*2);
  height: calc(var(--button-height));
}

/* Unclickable label "Links" */
nav > :first-child {
  border-bottom-color: transparent;
  border-right: 1px solid white;
  color: #fffc;
  letter-spacing: 5px;
  --font-fraction: .7;
  font-size: calc(var(--button-height) * var(--font-fraction) / 1.2);
  line-height: calc(var(--button-height) * var(--font-fraction));
  padding-top: calc(var(--button-height) * (1 - var(--font-fraction))/2);
  padding-bottom: calc(var(--button-height) * (1 - var(--font-fraction))/2);
  text-align: center;
  pointer-events: none;
  /* background: blue; */
}

nav > :not(:first-child) {
  border-radius: 0;
  border-bottom: 1px solid white;
  padding: var(--button-pad);
  padding-bottom: calc(var(--button-pad) - 1px);
  text-decoration: none;
  color: white;
  text-align: center;
  position: relative;
}

/* Increase click area on links */
nav > :not(:first-child):before {
  content: '';
  width: 100%;
  height: var(--height);
  position: absolute;
  left: 0;
  top: calc(-1*var(--pad));
  z-index: -1;
  /* background: blue; */
}

nav > :not(:first-child):hover,
nav > .active {
  border-radius: .2rem;
  background: #fffe;
  color: black;
  padding-bottom: 0px;
  border-bottom: 5px solid red;
}

nav > .active {
  border-color: cyan;
}

.content {
  position: relative;
  top: 0;
  left: 0;
  min-height: calc(100vh - var(--placeholder-height));
  height: max-content;
}

.placeholder {
  position: relative;
  bottom: 0;
  background: cyan;
  width: 100vw;
  height: calc(var(--placeholder-height));
}
