<div class='content'>
  <router-outlet></router-outlet>
</div>
<div class="placeholder"></div>
<nav>
  <div>links</div>
  <div routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}'>
    <ion-icon name="home"></ion-icon>
  </div>
  <div routerLink='ex5' routerLinkActive='active'>Ex5</div>
  <div routerLink='ex4' routerLinkActive='active'>Ex4</div>
  <div routerLink='ex3' routerLinkActive='active'>Ex3</div>
  <div routerLink='ex2' routerLinkActive='active'>Ex2</div>
  <div routerLink='ex1' routerLinkActive='active'>Ex1</div>
</nav>