section {
  margin: 20px;
  margin-bottom: 100px;
}
.item {
  border: 2px solid #eee;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.item:hover {
  background: black;
  color: white;
  font-style: italic;
}

.item.selected {
  background: cyan;
  font-size: bold;
}
